.home-container{
    height: 300vh;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;


.home-banner{
    height:500px;
    background-image: url('../../assets/car.png');
    background-size: cover;
    
    background-repeat: no-repeat;
    
    h1{
        color:white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: start;
        margin-right: 280px;
        padding-top: 100px;
        margin-left: 100px;
    }
    p{
        line-height: 0%;
        padding-top: -10px;
        color:white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: start;
        margin-right: 280px;
        margin-left: 100px;
    }
}

.facilities,.facilities-2{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px;
    justify-content: center;
    background-color:floralwhite;
   

    .fac1, .fac2, .fac3, .fac4, .fac5{
        margin-left: 60px;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        
        .cheap, .mileage, .flexible-rental, .minimal-paperwork, .simple-process{
            height: 120px;
            width: 200px;
            padding:20px;
            border-radius: 10px;
            background-color: #000;
            color:white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            
            margin-right: 80px;
            
        }
       
    }

    .fac1:hover, .fac2:hover, .fac3:hover, .fac4:hover, .fac5:hover{
        p{
            color:bisque;
        }
        transform: scale(1.05);
    }
    h1{
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        margin-left: -70px;

    }
}
.facilities{
    margin-top: -60px;
    
}
.facilities-heading{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left:0px;
    margin-top: 20px;
    padding-top: 20px;
}

.request-car{
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:150px;
    width: 900px;
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    p{
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        
    }
    button{
        border:none;
              height:50px;
              width: 120px;
              margin-top: 15px;
              margin-left: 20px;
              border-radius: 30px;
              background-color: rgb(172, 162, 235);
              box-shadow: 1px 2px 2px 1px rgb(95, 87, 147);
              font-size: 16px;
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            

    }
    
}
}